<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
  <center>
    <center>
      <div class="box">
        <div class="box-text">
            <h2>THIS IS THE SIGNUP PAGE</h2>
        </div>
        <div>
          <br>
          <br>
          <br>
          <br>
<!--          <a href = "http://192.168.1.106:8080">
-->
        </div>

            <form id="user-form">
                <div>
                    <label for="first-name">First Name:</label>
                    <input type="text" id="first-name" name="firstName" required>
                </div>
                <div>
                    <label for="last-name">Last Name:</label>
                    <input type="text" id="last-name" name="lastName" required>
                </div>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password: </label>
                    <input type="text" id="password" name="password" required>
                </div>
                <div>
                    <label for="balance">Balance:</label>
                    <input type="number" id="balance" name="balance" required>
                </div>
                <button type="submit">Submit</button>
            </form>
            <button onclick="QB()">  Click to Go to the Home Page</button>
    </center>
      </div>
  </center>

  
</body>
</html>
