<!doctype html>
<html>
<head>
	<title>Python Flask ReplAuth</title>
<script src="https://replit.com/public/js/repl-auth-v2.js"></script>
</head>
<body>
	{% if user_id %}
	<center>
  <div class="box">
    <center>
    <div class="box-text-auth">
      <p>
    Welcome to QuickBanking!
      </p>
    </div>
  <img src="{{ user_profile_image }}" width="200">
    <center>
  </center>
  </div>
	{% else %}
  <center>
    <center>
      <div class="box">
        <div class="box-text">
            <h2>Welcome to QuickBanking!</h2>
        </div>
        <br>
        <br>
        <div class="signup-box-button">
          <a href = "https://example102.mehmetbisen.repl.co/signup">
          <button onclick="QB()"> Click to Create an Account</button>
        </div>
        <br>
        <div class="login-box-button">
          <a href = "https://example102.mehmetbisen.repl.co/login">
          <button onclick="QB()"> Click to Login</button>
            <br>
            <br>
            <br>            
        </div>
        <div>
          <a href = "https://example102.mehmetbisen.repl.co/menu">
          <button onclick="QB()"> Click to Go to the Menu</button>
        </div>
    </center>
      </div>
  </center>

	{% endif %}
</body>
</html>